

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="max-height: 60px">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Evernet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>

        <% if @current_user.is_admin %>
          <li class="nav-item">
          <a class="nav-link" href="/university_modules">Edit Modules</a>
        </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="/contact">contact</a>
        </li>
        

      </ul>
      <form class="d-flex">
        <label class="btn text-white-50 my-sm-0" style="color: white"> <%= @current_user.email %></label>
        <a class="btn my-sm-0 text-white" href="/sessions/logout">Logout</a>

      </form>
    </div>
  </div>
</nav>



<body class="dashboard">


  <div class="grid" style="padding: 20px">

    <h3 id='module_button'>Welcome, <%= @current_user.email %></h3>

    <% if @modules.length > 0 %>
      <h3 style="padding-top: 20px" >Modules</h3>
      <div id="modules-list" class="row" style="padding-top: 10px">
        <% @modules.each do |university_module, index| %>

          <div class=" col-md-3 " style="">
            <button id='module_button' class="btn btn-light active" style="height: 150px; width: 100%; align-items: center;border: none" onclick=navigateTo('/university_modules/<%= university_module.id %>')>
              <label style="font-size: 24px; color:#0e0e0e; text-align: center; padding-top: 10px; margin-left: 5px; margin-right: 5px"> <%= university_module.name %></label>
            </button>

          </div>

        <% end %>
      </div>
      <% end %>


    <div style="padding-top: 30px"></div>

    <h3>Utilities</h3>
    <div id="modules-list" class="row" style="padding-top: 10px">

      <div class=" col-md-3 " style="">
        <button class="btn btn-light active" style="height: 150px; width: 100%; align-items: center; " onclick="navigateTo('/rooms')">
          <label style="font-size: 24px; color:#0e0e0e; text-align: center; padding-top: 10px">Chat Hub</label>
        </button>
      </div>
    </div>


  </div>

</body>