

<h1 class="title" class=""> <%= t :website_title %> </h1>

<h5 id="website_description">
  <%= t :website_description %>
  <small class="text-muted">made by Josh Everett</small>
</h5>

  <div class="login-form card shadow-lg">
      <% if flash[:error] %>
        <div class="alert alert-danger" style="width:100%; text-align: center">
          <strong style="text-align: center;">Oh snap!</strong> <%= flash[:error] %>
        </div>
      <% end %>



    <form style="margin-bottom: 25px">
      <fieldset>
        <h4 style="text-align: center; padding: 10px"> <%= t :login_heading %> </h4>

        <div class="form-group" style="margin-bottom: 10px">
         <input type="email" class="form-control" id="email_field" aria-describedby="emailHelp" placeholder="Enter email">

        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password_field" placeholder="Password">
        </div>
      </fieldset>

    </form>

    <button type="submit" id="login_button" class="btn btn-primary" style="margin-bottom: 10px"> Login </button>
    <button id="register_button" class="btn btn-outline-primary"> Register </button>
    <input type="button" class="btn-alert" style="padding: 10px 20px 10px 20px;margin-top: 25px;width:100%" value="About" onclick="window.location.href='/about'">

  </div>

