<h1 class='title'> You are unauthorized </h1>

<div class="card login-form" style="align-items: center" >
    <p style="text-align: center">  <%= @message %> </p>
    <button id=unauthorized_home_button class="btn-outline-primary" style="padding: 5px 10px ;max-width: 200px"> HOME </button>
 </div>
