<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>You have received new feedback!</p>
  <p>
    Feedback details:<br>
    --------------------------
  </p>
  <p>Name: <%= @contact.name %> </p>
  <p>Email: <%= @contact.email %></p>
  <p>
    Message:<br>
    ----------
  </p>
  <p><%= @contact.message %></p>
  </body>
</html>