.login-form{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40%;
  padding: 20px;
  background-color: white;
}

.title{
  margin-top: 50px;
  text-align: center;
}

#website_description{
  margin-top: 100px;
  margin-left: 50vw;
  transform: translate(-50%,-50%);
  max-width: 50vw;
  text-align: center;
}

.module_card{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  backface-visibility: hidden;transform: translateZ(0);

}
.module_card::after{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.module_card:hover {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: scale(1.1, 1.1);
  backface-visibility: hidden;

  transform: scale(1.05,1.05);
}
.module_card:hover::after{
  opacity: 1;
}

.contactFormInput {
  margin-top: 6px;
  margin-bottom: 16px;
  min-width: 30vw;
}

.contactPage {
  font-size: 24px;
}


#footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: black;
  text-align: center;
  padding-top: 10px;
  color: grey;

  .column{
    color: grey;
    align-content: center;
  }

  a  {
    color: grey;
    text-decoration: none;
  }

  a:hover {
    color: white
  }
}

