.login-form{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40%;
  padding: 20px;
  background-color: white;
}

.title{
  margin-top: 50px;
  text-align: center;
}

#website_description{
  margin-top: 100px;
  margin-left: 50vw;
  transform: translate(-50%,-50%);
  max-width: 50vw;
  text-align: center;
}