// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$surface-color: rgba(12,12,12,0.8);

body.dashboard{
  background-color: #121212;
}