
<div style='padding:20px;'>
  <h1 class=title> <%= @university_module.name %> </h1>

  <h3 class=' '> About the module </h3>
  <p class="strong"> <%= @university_module.description %> </p>
  <h3 class=' ' style="padding-top: 10px"> Module Leader </h3>
  <p class="strong"> The leader for this module is <%= @university_module.module_leader %> </p>

  <input type="button" class="btn-primary" value="Go to module live chat" onclick="window.location.href='/rooms/<%=roomIdFromModuleId(@university_module.id) %>'">

</div>