<h1 id='title'> <%= @title %> </h1>

<p class='description'> <%= @description %> </p>

<button>Click here to login</button><br>
<button>Click here to register</button>

<footer> <%= @footer %> </footer>