<!DOCTYPE html>


<section id="footer">
  <div class="row">
    <div id="about" class=" column col-4 footer_section">
      <h3 class="card-header text-white">About</h3>
      <p>
        <%=t :website_description %>
      </p>
    </div>
    <div id="pages" class=" column col-4 footer_section">
      <h3 class="card-header text-white">Pages</h3>

      <a href="/">Home</a><br>
      <a href="/rooms">Chat Rooms</a><br>
      <br>
      <p>Found a problem with Enet?</p>
      <a href="/contact">Contact</a><br>


    </div>

    <div id="links" class=" column col-4 footer_section">
      <h3 class="card-header text-white">Quick links</h3>
      <a href="/sessions/logout">Logout</a><br>



    </div>


  </div>

</section>